#img {
    width: 2000px;
    height: 2000px;
    background: url('http://www.simplycoatings.co.uk/ekmps/shops/simplycoatings2/images/yester-30-matt-powder-coating-20kg-box--1739-p[ekm]288x288[ekm].jpg');
}
